# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup #included the numpy and matplot lib
import matplotlib.pyplot as plt
import pandas as pd  

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [3]:
# Create DataFrames for each city type.
#  Create Urban cities DF
urban_cities_df=pyber_data_df[pyber_data_df["type"]=="Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [4]:
# Create subarban DFs
suburban_cities_df=pyber_data_df[pyber_data_df["type"]=="Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [5]:
# Create rural DFs
rural_cities_df=pyber_data_df[pyber_data_df["type"]=="Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural

## Deliverable 1: Get a Summary DataFrame

In [6]:
#  1. Get the total rides for each city type
# Urban Rides Per City
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
#urban_ride_count.head()
urban_ride_count = urban_ride_count.sum()
urban_ride_count

1625

In [7]:
# Suburban Rides Per City
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
#suburban_ride_count.head()
suburban_ride_count=suburban_ride_count.sum()
suburban_ride_count

625

In [8]:
# Rural Rides Per City
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
#rural_ride_count.head()
rural_ride_count=rural_ride_count.sum()
rural_ride_count

125

In [9]:
total_rides = pyber_data_df.groupby(["type"]).count()["ride_id"]

total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [10]:
# 2. Get the total drivers for each city type
# in order to match the data shown in the instruction I had found the answer as the average instead on the total drivers.
# Urban Drivers Per City
urban_driver_count = urban_cities_df.groupby(["city"]).mean()["driver_count"]
urban_driver_count = urban_driver_count.sum()
urban_driver_count

2405.0

In [11]:
# Suburban Drivers Per City
suburban_driver_count = suburban_cities_df.groupby(["city"]).mean()["driver_count"]
suburban_driver_count = suburban_driver_count.sum()
suburban_driver_count

490.0

In [12]:
# Rural Drivers per City
rural_driver_count = rural_cities_df.groupby(["city"]).mean()["driver_count"]
rural_driver_count = rural_driver_count.sum()
rural_driver_count

78.0

In [13]:
total_drivers = city_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [14]:
#  3. Get the total amount of fares for each city type
# Urban Tatal Fares
urban_tot_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_tot_fare = urban_tot_fare.sum()
urban_tot_fare

39854.38000000001

In [15]:
# Suburban Tatal Fares
suburban_tot_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_tot_fare = suburban_tot_fare.sum()
suburban_tot_fare

19356.33

In [16]:
# Rural Tatal Fares
rural_tot_fare = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_tot_fare = rural_tot_fare.sum()
rural_tot_fare

4327.93

In [17]:
total_fares = pyber_data_df.groupby(["type"]).sum()["fare"]

total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [18]:
#  4. Get the average fare per ride for each city type. 
# Urban Average Fare per Ride
urban_avg_fare_per_ride = urban_tot_fare / urban_ride_count #* 100
urban_avg_fare_per_ride

24.525772307692314

In [19]:
# Suburban Average Fare per Ride
suburban_avg_fare_per_ride = suburban_tot_fare / suburban_ride_count #* 100
suburban_avg_fare_per_ride

30.970128000000003

In [20]:
# Rural Average Fare per Ride
rural_avg_fare_per_ride = rural_tot_fare / rural_ride_count #* 100
rural_avg_fare_per_ride

34.62344

In [21]:
avg_ridefare =  total_fares / total_rides

avg_ridefare

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [22]:
# 5. Get the average fare per driver for each city type. 
# Urban Average Fare per Driver
urban_avg_fare_per_driver = urban_tot_fare/ urban_driver_count #* 100
urban_avg_fare_per_driver

16.57146777546778

In [23]:
# Suburban Average Fare per Driver
suburban_avg_fare_per_driver = suburban_tot_fare/ suburban_driver_count #* 100
suburban_avg_fare_per_driver

39.50271428571429

In [24]:
# rural Average Fare per Driver
rural_avg_fare_per_driver = rural_tot_fare/ rural_driver_count #* 100
rural_avg_fare_per_driver

55.48628205128205

In [25]:
avg_driverfare =  total_fares / total_drivers

avg_driverfare

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [26]:
# check the data types
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [27]:
#  6. Create a PyBer summary DataFrame. 
#  In order to create a summary. I think I will need to break it down into five parts or series. As you see below, 
# total_rides_by_type = pd.DataFrame({"Rural": rural_ride_count,"Suburban": suburban_ride_count,"Urban": urban_ride_count})
# total_rides_by_type
total_rides_by_type = (rural_ride_count, suburban_ride_count,urban_ride_count)
total_rides_by_type

(125, 625, 1625)

In [28]:
# Second series for DF is Total Drivers
#total_drivers_by_type = pd.DataFrame({"Rural": rural_driver_count,"Suburban": suburban_driver_count,"Urban": urban_driver_count})
# total_drivers_by_type
total_drivers_by_type =(rural_driver_count, suburban_driver_count, urban_driver_count)
total_drivers_by_type

(78.0, 490.0, 2405.0)

In [29]:
# Third series for DF is Total Fares
# total_fares = pd.DataFrame({"Rural": rural_tot_fare,"Suburban": suburban_tot_fare,"Urban": urban_tot_fare})
# total_fares
total_fares =(rural_tot_fare, suburban_tot_fare, urban_tot_fare)
total_fares

(4327.93, 19356.33, 39854.38000000001)

In [30]:
# Fourth series Average Fare Per Ride
# avg_fare_per_ride = pd.DataFrame({"Rural": rural_avg_fare_per_ride,"Suburban": suburban_avg_fare_per_ride,"Urban": urban_avg_fare_per_ride},index=[0])
# avg_fare_per_ride
avg_fare_per_ride = (rural_avg_fare_per_ride, suburban_avg_fare_per_ride, urban_avg_fare_per_ride)
avg_fare_per_ride

(34.62344, 30.970128000000003, 24.525772307692314)

In [31]:
# Fith series Average Fare Per Driver
# avg_fare_per_driver = pd.DataFrame({"Rural": rural_avg_fare_per_driver,"Suburban": suburban_avg_fare_per_driver,"Urban": urban_avg_fare_per_driver},index=[4])
# avg_fare_per_driver
avg_fare_per_driver = (rural_avg_fare_per_driver, suburban_avg_fare_per_driver, urban_avg_fare_per_driver)
avg_fare_per_driver

(55.48628205128205, 39.50271428571429, 16.57146777546778)

In [32]:
# Now the summary data frame?
type_summary_df = pd.DataFrame({
          "Total Rides" : total_rides ,
          "Total Drivers": total_drivers ,
          "Total Fares": total_fares,
          "Average Fare per Ride": avg_ridefare,
          "Average Fare per Driver": avg_driverfare})

type_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [33]:
#  7. Cleaning up the DataFrame. Delete the index name
type_summary_df.index.name = None

In [34]:
#  8. Format the columns.
type_summary_df["Total Rides"] = type_summary_df["Total Rides"].map("{:.0f}".format)

type_summary_df["Total Drivers"] = type_summary_df["Total Drivers"].map("{:.0f}".format)

type_summary_df["Total Fares"] = type_summary_df["Total Fares"].map('${:,.2f}'.format)

type_summary_df["Average Fare per Ride"] = type_summary_df["Average Fare per Ride"].map('${:,.2f}'.format)

type_summary_df["Average Fare per Driver"] = type_summary_df["Average Fare per Driver"].map('${:,.2f}'.format)

type_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [31]:
# 1. Read the merged DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [35]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
df = pyber_data_df.groupby(["type","date"]).sum()["fare"]
df

type   date
Rural  2019-01-01 09:45:36    43.69
       2019-01-02 11:18:32    52.12
       2019-01-03 19:51:01    19.90
       2019-01-04 03:31:26    24.88
       2019-01-06 07:38:40    47.33
                              ...
Urban  2019-05-08 04:20:00    21.99
       2019-05-08 04:39:49    18.45
       2019-05-08 07:29:01    18.55
       2019-05-08 11:38:35    19.77
       2019-05-08 13:10:18    18.04
Name: fare, Length: 2375, dtype: float64

In [36]:
#with the date included. 
total_fare_per_day = pyber_data_fares_df.groupby(["Date"]).sum()["Fare"]
total_fare_per_day.head()

Date
2019-01-01 00:08:16    37.91
2019-01-01 00:46:46    47.74
2019-01-01 02:07:24    24.07
2019-01-01 03:46:50     7.57
2019-01-01 05:23:21    10.75
Name: Fare, dtype: float64

In [36]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
df = df.reset_index()

In [37]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
df = pyber_data_df.pivot(index ='date',columns = 'type', values = 'fare')
df

type                 Rural  Suburban  Urban
date
2019-01-01 00:08:16    NaN       NaN  37.91
2019-01-01 00:46:46    NaN     47.74    NaN
2019-01-01 02:07:24    NaN     24.07    NaN
2019-01-01 03:46:50    NaN       NaN   7.57
2019-01-01 05:23:21    NaN       NaN  10.75
...                    ...       ...    ...
2019-05-08 04:20:00    NaN       NaN  21.99
2019-05-08 04:39:49    NaN       NaN  18.45
2019-05-08 07:29:01    NaN       NaN  18.55
2019-05-08 11:38:35    NaN       NaN  19.77
2019-05-08 13:10:18    NaN       NaN  18.04

[2375 rows x 3 columns]

In [39]:
pyber_data_fares_df_sub= pd.pivot_table(pyber_data_fares_df, 
                    values="Fare", 
                    index="Date",
                    columns="City Type")
pyber_data_fares_df_sub.head(10)

City Type            Rural  Suburban  Urban
Date
2019-01-01 00:08:16    NaN       NaN  37.91
2019-01-01 00:46:46    NaN     47.74    NaN
2019-01-01 02:07:24    NaN     24.07    NaN
2019-01-01 03:46:50    NaN       NaN   7.57
2019-01-01 05:23:21    NaN       NaN  10.75
2019-01-01 09:45:36  43.69       NaN    NaN
2019-01-01 12:32:48    NaN     25.56    NaN
2019-01-01 14:40:14    NaN       NaN   5.42
2019-01-01 14:42:25    NaN       NaN  12.31
2019-01-01 14:52:06    NaN     31.15    NaN

In [40]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.
pyber_months_df=pd.DataFrame(pyber_data_fares_df_sub.loc['2019-01-01':'2019-04-28'])
pyber_months_df

City Type            Rural  Suburban  Urban
Date
2019-01-01 00:08:16    NaN       NaN  37.91
2019-01-01 00:46:46    NaN     47.74    NaN
2019-01-01 02:07:24    NaN     24.07    NaN
2019-01-01 03:46:50    NaN       NaN   7.57
2019-01-01 05:23:21    NaN       NaN  10.75
...                    ...       ...    ...
2019-04-27 17:58:27  14.01       NaN    NaN
2019-04-27 19:45:48    NaN     28.84    NaN
2019-04-27 20:41:36    NaN       NaN   8.28
2019-04-27 23:26:03    NaN       NaN  19.06
2019-04-27 23:52:44    NaN     45.98    NaN

[2177 rows x 3 columns]

In [42]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
pyber_data_fares_df.index = pd.to_datetime(pyber_data_fares_df.index)

In [43]:
# 7. Check that the datatype for the index is datetime using df.info()
pyber_data_fares_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2375 entries, 2019-01-14 10:14:22 to 2019-04-25 10:20:13
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fare       2375 non-null   float64
 1   City Type  2375 non-null   object
dtypes: float64(1), object(1)
memory usage: 55.7+ KB

In [46]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
pyber_week_df =pyber_data_fares_df_sub.resample('W').sum()

pyber_week_df.head()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')